.jumbotron{
    background-image: url(img/1.jpg);
    height: 500px;
    background-position: center;
}
.display-4{
    color:red;
    
}
.lead{
    color:red;
}
.program{
    color:red;
}
.nav{
    background-color: red;
    margin-top: -50px;
    height: 70px;
}